<footer>
    <div class="content">
        <div class="footer-links">
            <ul>
                <h4>Explore</h4>
                <li><a href="http://datausa.io/search/?q=">Profiles</a></li>
                <li><a href="http://datausa.io/story/">Stories</a></li>
                <li><a href="http://datausa.io/map/">Maps</a></li>
            </ul>
            <ul>
                <h4>Data</h4>
                <li><a href="http://datausa.io/about/datasets/">Data Sources</a></li>
                <li><a href="http://datausa.io/about/api/">API</a></li>
                <li><a href="http://datausa.io/about/attributes/">Classifications</a></li>
            </ul>
            <ul>
                <h4>About</h4>
                <li><a href="http://datausa.io/about/">Background</a></li>
                <li><a href="http://datausa.io/about/glossary/">Glossary</a></li>
                <li><a href="http://datausa.io/about/usage/">Terms of Use</a></li>
                <li><a href="mailto:hello@datausa.io">Contact Us</a></li>
            </ul>
        </div>
       
    </div>
</footer>
